* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.header-container {
  background-color: #2B3C4E;
  text-align: center;
  padding: 40px 0;
}

h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
}

.search-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
  background-color: #33485E;
  padding: 30px;
}

#search-input,
#sort-select {
  font-size: 16px;
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
}

.movie-container,
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #F4F4F4;
  padding: 20px;
}

.movie-card {
  background-color: #FEFEFE;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-card {
  width: 20%;
  max-width: 280px;
  min-width: 250px;
  margin: 10px;
  height: 550px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 0 0 rgba(146, 146, 152, 0.478);
  border-radius: 10px;
}

.movie-card img {
  width: 230px;
  height: 370px;
  object-fit: cover;
  border-radius: 10px;
  margin: 10px;
}

.movie-card h2 {
  margin: 10px 0 4px;
  line-height: 1.2;
  text-align: center;
  overflow-wrap: break-word;
  max-height: 2.4em;
  overflow: hidden;
}

.movie-card p {
  padding-top: 10px;
  margin: 6px 0 0;
  text-align: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 20px;
  background: #f4f4f4;
}

.pagination-container button {
  background-color: #2b86d1;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 18px;
  cursor: pointer;
}

.pagination-container button:hover {
  background-color: #1e6fb3;
}

.pagination-container p {
  font-size: 22px;
  margin: 0;
}